.form .fa-search{

    position: relative;
    top:-30px;
    left: 15px;
    z-index: 1;

}

.profile-picture{
    object-fit: cover;
}

.image-title{
    position: absolute;
    top: 88%;
    left: 5%;
    z-index: 5;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.nav{
    --bs-nav-link-padding-x: 0.75rem;
}
